.resultsContainer {
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 25px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.title2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.title2Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.5);
}

.trainsCount {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
    margin-left: 10px;
}

.scrollable {
    height: 50vh;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.card {
    padding: 15px;
    margin: 15px;
    min-height: 150px !important;
    border-radius: 10px !important;
    border: 0 !important;
    padding-bottom: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 3px;
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 8px;
    background: rgba(5, 120, 255, 0.75);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(5, 120, 255, 1);
}



.rectangles {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px !important;
}

.rect {
    border-radius: 10px;
    width: 110px;
    margin-right: 5px;
    padding: 5px;
    min-height: 40px;
    cursor: pointer;
}

.greenRect {
    background: #D0FFC8;

}

.orangeRect {
    background: #FFE9C8;

}

.pinkRect {
    background: #FFCDCD;

}

.whiteRect {
    background: white;
    border: 2px solid #FF8888;
}

@media screen and (max-width:600px) {
    .rect {
        margin-top: 10px !important;
        margin-bottom: 10px;
    }

    .mobileFlexRow {
        display: flex !important;
    }
}



.calendar {
    margin-top: 10px;
    width: 100%;
}

.calendarButton {
    width: 60px !important;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #202020;
    border: 0;
    background-color: white;
    height: 70px;
}

.arrowButton {
    height: 70px;
    border: 0;
    width: 30px !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    background-color: transparent;
}