.resultsContainer {
    background-color: #F5F5F5;
    padding-top: 50px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.title2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.title2Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.5);
}

.trainsCount {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
    margin-left: 10px;
}