body {
  margin: 0;
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #202020;
  margin-top: 80px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blueFont {
  color: #0578FF !important;
}

.blackFont {
  color: #202020 !important;
}

.blueBackground {
  background-color: #0578FF;
}

input {
  width: 100%;
  border-style: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  margin-top: 20px;
  background-color: transparent;
}